body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: "Gowun Batang", serif;
}

.header-container{
    background-image: url('images/headerbanner.png');
    background-size: cover;
    width: 30%;
    margin: auto;
    color: white;
    padding: 30px 40px;
    font-size: .7rem;
}

.header-container h1,p{
    margin: 0;
    padding: 0;
}

.header-container img{
    width: 480px;
}

.main-container{
    width: 30%;
    background: white;
    margin: auto;
    color: black;
    padding: 20px 40px;
    font-size: .7rem;
    height: 80vh;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(194, 193, 193);
    margin-top: 30px;
    padding-bottom: 30px;
}

.menu-item-details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-details h2, p {
    padding: 0;
    margin: 0;
}

.menu-item-text{
    padding-left: 15px;
}

.menu-item-text h2{
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.menu-item-text p{
    font-size: .8rem;
    margin: 2px 0;
}

.menu-item-image{
    width: 80px;
}

#price{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 5px;
}

#add-button{
    background-color: white;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(145, 144, 144);
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.order-container{
    background: white;
    color: black;
    font-size: .7rem;
    text-align: center;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid rgb(165, 165, 165);
}

.ordered-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.remove-btn{
    background-color: white;
    border: none;
    font-family: "Gowun Batang", serif;
    cursor: pointer;
    font-size: .7rem;
}

.remove-btn:hover{
    color: gray;
}

.ordered-list p{
    display: inline-block;
    font-size: .9rem;
    font-weight: 700;
}

.complete-order-btn{
    background-color: #16DB99;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}